AUTH_SECRET=replace-me
AUTH_KEYCLOAK_ID=webapp
AUTH_KEYCLOAK_SECRET=
AUTH_KEYCLOAK_ISSUER=http://localhost:8081/realms/app
NEXT_PUBLIC_API_BASE=http://localhost:8080
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
